.banner
	%h1 Log In

.login_link
	=link_to "(Sign Up Instead)", :controller => "users", :action => "new"

.login_form
	.notice
		= notice
	.login
		= form_tag(:action => 'login_attempt') do
			%label Phone #:
			%br
			= text_field_tag(:phone)
			%br
			%label Password:
			%br
			= password_field_tag :login_password
			%br
			= submit_tag "Log In", :class => 'button'
