- patharr = get_directions(@user.street_orig,@user.street_dest)
=form_for(@user) do |f|
	#showinfo
		.field
			= f.label :street_orig
			= f.text_field :street_orig
		.field
			= f.label :street_dest
			= f.text_field :street_dest
		.field{:id => "path"}
			= f.hidden_field :path, :value => patharr.join(","), :id => 'pathfield'
		.button
			%input{:type => "submit", :value => "Send", :class => "button"}

-counter = 1
-patharr.each do |street|
	.pathdiv{:contenteditable => true}
		=street
	-counter += 1


-#<%= render 'form' %>-->
-#<%= link_to 'Show', @user %> | <%= link_to 'Back', root_path %>-->

