<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Street Orig:</b>
  <%= @user.street_orig %>
</p>

<p>
  <b>Street Dest:</b>
  <%= @user.street_dest %>
</p>

<p>
  <b>Path</b>
  <% streets = get_directions(@user.street_orig,@user.street_dest) %>
  <ul>
    <% streets.each do |street| %>
      <li><%= street %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
